@import "../../../styles/mixins";

.sidenav {
  width: 200px !important;
  background-color: #eeeeee;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
.avatar{
  position: fixed;
  right: 20px;
  margin-top: 5px;
}
.avatarImg{
  width: 40px;
  height: auto;
}

mat-toolbar{
  background-color: $primary--color !important;
  z-index: 2;
  color: $white;
}
mat-nav-list a:hover{
  background-color: $primary--color !important;
  color: $white;
}
mat-nav-list{
  padding: 0 !important;
}
mat-sidenav-container{
  height: 100% !important;
}
