@import "../../../styles/global";

.sidenav {
  width: 200px !important;
  background-color: #F5F5F5;
}
.mat-toolbar.mat-primary {
  top: 0;
}
.avatar{
  position: fixed;
  right: 20px;
  margin-top: 5px;
  z-index: 1;
}
.avatarImg{
  width: 40px;
  height: auto;
}

mat-toolbar{
  z-index: 2;
}
mat-nav-list{
  padding: 0 !important;
}

.redButton{
  color: red;
}
