<mat-sidenav-container class="sidenav-container">
  <mat-sidenav

    #sidenav
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(!(isHandset$ | async)) && ((isLoggedIn$ | async))">
    <mat-toolbar class="onTop" color="primary">
      <span>{{title}}</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/calculator">Calculator</a>
      <a mat-list-item routerLink="/GradeBook">GradeBook</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="fixed" color="primary" *ngIf="isLoggedIn$ | async">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="(isHandset$ | async)">{{title}}</span>
      <div class="avatar">
        <a [matMenuTriggerFor]="menu">
          <img src="/src/assets/images/avatar.png" class="avatarImg">
        </a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/user">Profil</button>
          <button mat-menu-item routerLink="/">Root</button>
          <button class="redButton" (click)="onLogout()" mat-menu-item>Ausloggen</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
