<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>Login</mat-card-subtitle>
    <div class="flex-spacer"></div>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="onClickLogin(f)" #f="ngForm">
      <mat-form-field>
        <input matInput class="input" type="text" id="username" ngModel placeholder="Benutzername" name="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput class="input" type="password" id="password" ngModel placeholder="Passwort" name="password">
      </mat-form-field>
      <div class="bottom">
        <button type="submit" mat-flat-button class="button">Go!</button>
        <span class="changeToRegister"><a
          routerLink="/register">Registriere dich jetzt!</a></span>
      </div>
    </form>
  </mat-card-content>
</mat-card>

