@import "../../../styles/mixins";

mat-card{
  margin-top: calculateRem(300px);
  margin-right: calc(33.3333333333% - 20px);
  margin-left: calc(33.3333333333% - 20px);
  width: calc(33.3333333333% + 40px);;
}

mat-form-field{
  width: calc(100% - 20px);
}

mat-card-title{
  font-size: calculateRem(25px) !important;
  font-weight: bold;
}

mat-card-subtitle{
  font-size: calculateRem(20px) !important;
  font-weight: bold;
}

.input{
  width: 100% !important;
  height: calculateRem(20px);
  font-size: calculateRem(20px);
}

.button{
  background-color: $secondary--color;
}

@media only screen and (max-width: 900px) {
  mat-card{
    margin: 20px !important;
    width: auto;
  }
}
mat-card-content{
  padding-left: 10px;
  padding-right: 10px;
}
