<div fxFill fxLayout="column" layout-align="center none">
  <div layout="row" layout-align="center none">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-subtitle>Login</mat-card-subtitle>
        <div class="flex-spacer"></div>
      </mat-card-header>
      <mat-card-content>
        <form (submit)="onClickLogin($event)">
          <mat-form-field>
            <input matInput #test class="input" id="username" placeholder="Benutzername">
          </mat-form-field>
          <mat-form-field>
            <input matInput #test2 class="input" id="password" placeholder="Passwort" type="password">
          </mat-form-field>
          <button type="submit" mat-flat-button class="button">Go!</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
